@import "tailwindcss";

@theme {
  /* Registramos tus colores institucionales morados del SENA */
  --color-morado: #7c3aed;
  --color-morado-oscuro: #5b21b6;
  
  /* Registramos TU color personalizado para el fondo general */
  --color-celeste-pastel: #CBFBF1;
}

body {
  /* Aplicamos tu color personalizado al fondo de toda la pantalla */
  background-color: var(--color-celeste-pastel) !important;
  color: #1f2937; /* Un gris muy oscuro para que los textos lean perfecto */
  font-family: var(--font-sans);
}